p,
ul,
ol {
  font-size: 20px;
}

li {
  color: blue;
  font-size: 15px;
  font-family: Verdana;
}

div {
  background-color: #eba234;
}

img {
  padding: 25px;
  margin: 25px;
  background-color: yellow;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  width: 200px;
}

a