p,
ul,
ol {
  font-size: 20px;
}

li {
  color: blue;
  font-size: 15px;
  font-family: Verdana;
}

div {
  background-color: #01f101ff;
}

img {
  padding: 25px;
  margin: 25px;
  background-color: #00ff00;
  border-color: black;
  border-style: solid;
  width: 200px;
  border-radius: 40%;
  border-width: 3px;
}

a{
  color: #ff00ff;
}

h2{
  color: #ff0000;
}

