p, 
ul, 
ol {
  font-size: 20px;
}

li {
  color: blue;
  font-size: 15px;
  font-family: Verdana;
}

img {
  padding: 20px 15px 10px 5px;
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 200px;
}

div{
  background-color: crimson;
}

